{% extends 'base.html.twig' %}

{% block title %} {{recette.nom}} {% endblock %}

{% block body %}
    <h2> {{recette.nom}} </h2>
    <img src='images/{{recette.visuel}}' alt='photo recette'>

{% endblock %}
