<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        {# <header>
            <div id='logo'>
                <img src='images/logo2.png' alt='logo'>
                <h1> Sucré Salé </h1>
            </div>
            <nav>
                <a href=''>Accueil</a>
                <a href=''>Recettes</a>
            </nav>
        </header> #}
        <header>
            <div id='hamburger'>
                <img src='images/burger2.png' alt='burger'>
            </div>
            <div id="logo">
                <img src='images/logo2.png' alt='logo'>
            </div>
            <div id='searchBar'>
                <form action='' method='GET'>
                    <input type='text' name='searchKeyWords' placeholder='Chercher une recette'>
                    <button> GO </button>
                </form>
            </div>
            <div id='login'>
            connexion
            </div>

        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
